{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}HRDB - Пользователь{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Редактирование профиля пользователя</h1>
    </div>
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
        <br>
        <div>
            <a href="{{ url_for('auth.list_users') }}">
                <span class="glyphicon glyphicon-share" aria-hidden="true"></span> Назад к списку пользователей
            </a>
        </div>
    </div>
{% endblock page_content %}