{% extends "base.html" %}

{% block title %}HRDB - Список пользователей{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Список пользователей</h1>
    </div>
    <div><a href="{{ url_for('auth.register') }}">Добавить пользователя</a></div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Имя</th>
                <th>Логин</th>
                <th>eMail</th>
                <th>Роль</th>
                <th>Последняя активность</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    <a href="{{ url_for('auth.edit_user', id=user.id) }}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                </td>
                <td>{{ user.name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role.name }}</td>
                <td>{{ user.last_seen }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
{% endblock %}