{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}HRDB - Login{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Вход</h1>
    </div>
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
        <br>
        <p>Забыли пароль? <a href="{{ url_for('auth.password_reset_request') }}">Кликните для восстановления</a></p>
    </div>
{% endblock page_content %}