<p>Уважаемый(ая) {{ user.username }},</p>
<p>Для восстановления пароля <a href="{{ url_for('auth.password_reset', token=token, _external=True) }}">
    перейдите по ссылке</a>.</p>
<p>Или скопируйте нижеприведенную ссылку в адресную строку вашего веб-браузера:</p>
<p>{{ url_for('auth.password_reset', token=token, _external=True) }}</p>
<p>Если вы не запрашивали восстановление пароля, проигнорируйте это сообщение.</p>
<p>С уважением,</p>
<p>Администратор HRDB</p>
<p><small>Примечание: ответы на этот email не просматриваются.</small></p>