{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}HRDB - Добавление компании{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Добавление компании</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
    <br>
    <div>
        <a href="{{ url_for('main.companies') }}">
            <span class="glyphicon glyphicon-share" aria-hidden="true"></span> Назад к списку компаний
        </a>
    </div>
</div>
{% endblock %}