{% extends "bootstrap/base.html" %}

{% block title %}HRDB{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">HRDB</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">Главная</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Резюме <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('main.list_candidates') }}">Соискатели</a></li>
                            <li><a href="{{ url_for('main.list_vacancies') }}">Вакансии</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Справочники <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('main.companies') }}">Компании группы "МИГ"</a></li>
                            <li><a href="{{ url_for('main.orgstructure') }}">Организационная структура</a></li>
                            <li><a href="{{ url_for('main.edu') }}">Учебные заведения</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        {% if current_user.is_authenticated %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Авторизация <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% if current_user.can(Permission.ADMIN) %}
                                <li>
                                    <a href="{{ url_for('auth.list_users') }}">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                        Пользователи
                                    </a>
                                </li>
                            {% endif %}
                            <li><a href="{{ url_for('auth.change_password') }}">Изменить пароль</a></li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="{{ url_for('auth.logout') }}">
                                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                                    Выход
                                </a>
                            </li>
                        </ul>
                        {% else %}
                        <li><a href="{{ url_for('auth.login') }}">
                                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                                Вход
                            </a>
                        </li>
                        {% endif %}
                    </li>
                </ul>
            </div>

        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container col-md-12">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        {% block page_content %}{% endblock %}
    </div>
{% endblock content %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.locale('ru') }}
{% endblock %}