{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}HRDB - {{ title }}{% endblock %}

{% block page_content %}

<div class="col-md-2">
</div>
<div class="col-md-8">
<h1>{{ title }}</h1>
    <form action="" method="post" class="form" role="form">
        <div class="col-md-6">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="Only") }}

            {{ wtf.form_field(form.register_date) }}
            {{ wtf.form_field(form.last_name) }}
            {{ wtf.form_field(form.first_name) }}
            {{ wtf.form_field(form.middle_name) }}
            {{ wtf.form_field(form.sex) }}
            {{ wtf.form_field(form.birthdate) }}
            {{ wtf.form_field(form.email) }}
        </div>
        <div class="col-md-6">
            {{ wtf.form_field(form.address) }}

            {% if candidate %}
            <strong>Телефон</strong><br>

                {% for phone in candidate.phones %}
                    <a href="{{ url_for('main.edit_phone', candidat_id=candidate.id, phone_id=phone.id) }}"
                       class="btn btn-info btn-xs">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>&nbsp;
                    <a href="{{ url_for('main.del_phone', phone_id=phone.id) }}" class="btn btn-danger btn-xs">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>&nbsp;
                    {{ phone.phone_number }}

                    <br>
                {% endfor %}
                <a href="{{ url_for('main.add_phone', id=candidate.id) }}" class="btn btn-success btn-xs">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Добавить телефон
                </a>
            <br>
            <br>
            {% else %}
                {{ wtf.form_field(form.phone) }}
            {% endif %}

            {{ wtf.form_field(form.status) }}
            {{ wtf.form_field(form.source) }}

            {% if candidate %}
            <strong>Образование</strong><br>
            <table class="table table-hover">
            {% for edu in candidate.educationals %}
                <tr>
                    <td>
                        <a href="{{ url_for('main.edit_educational', candidat_id=candidate.id, educational_id=edu.id) }}"
                           class="btn btn-info btn-xs">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a><br>
                        <a href="{{ url_for('main.delete_educational', educational_id=edu.id) }}"
                           class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>&nbsp;
                    </td>
                    <td>
                        {{ edu.establishment.e_short_name }}<br>
                        <em>{{ edu.profession }}</em><br>
                        {{ qualification[edu.qualification][1] }}
                    </td>
                </tr>
            {% endfor %}
            </table>
            <a href="{{ url_for('main.add_educational', id=candidate.id) }}" class="btn btn-success btn-xs">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Добавить образование
            </a>
            <br>
            <br>
            {% else %}
                {{ wtf.form_field(form.edu) }}
                {{ wtf.form_field(form.profession) }}
                {{ wtf.form_field(form.qualification) }}
            {% endif %}

        </div>
        <div class="col-md-8">
            <div class="form-group">
            {{ wtf.form_field(form.submit, button_map={'submit': 'success'}) }}
            </div>
        </div>
    </form>

    <div class="col-md-8">
        <a href="{{ url_for('main.list_candidates') }}" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
            Назад к списку кандидатов
        </a>
    </div>
</div>
<div class="col-md-2">
</div>
{% endblock %}