{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}HRDB - {{ title }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ title }}</h1>
</div>

<div class="col-md-4">
    <p>Вакансия в компании <strong>{{ vacancy.company.c_short_name }}</strong> от {{ moment(vacancy.day_of_start).format('L') }}
        на должность "{{ vacancy.job_title }}"
        </p>
    {{ wtf.quick_form(form, button_map={'submit': 'danger'}) }}
    <br>
    <div>
        <a href="{{ url_for('main.list_vacancies', id=vacancy.id) }}">
            <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
            Назад к списку вакансий
        </a>
    </div>
</div>
{% endblock %}