{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}HRDB - {{ title }}{% endblock %}

{% block page_content %}

<div class="col-md-2">
</div>

<div class="col-md-8">
    <h1>{{ title }}</h1>

    <p class="alert alert-danger" role="alert">
        Вы действитель хотите удалить запись об образовании
        соискателя <strong>{{ educational.officeseeker.last_name }} {{ educational.officeseeker.first_name }}
        {{ educational.officeseeker.middle_name }}</strong>?
    </p>

    <form action="" method="post" class="form" role="form">

        {{ wtf.quick_form(form, button_map={'submit': 'danger'}) }}

    </form>
    <br>
    <div>
        <a href="{{ url_for('main.list_candidates') }}">
            <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
            Назад к списку кандидатов
        </a>
    </div>
</div>

<div class="col-md-2">
</div>
{% endblock %}