{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}HRDB - {{ title }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ title }}</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
    <br>
    <div>
        <a href="{{ url_for('main.edu') }}">
            <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
            Назад к списку учебных заведений
        </a>
    </div>
</div>
{% endblock %}