{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}HRDB{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>HRDB</h1>
    </div>

    <p>Главная</p>
{% endblock page_content %}