{% extends "base.html" %}

{% block title %}HRDB - Компании группы "МИГ"{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Компании группы "МИГ"</h1>
    </div>
    <div><a href="{{ url_for('main.add_company') }}">Добавить компанию</a></div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Краткое название</th>
                <th>Полное название</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>
                    <a href="{{ url_for('main.edit_company', id=company.id) }}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                </td>
                <td>{{ company.c_short_name }}</td>
                <td>{{ company.c_name }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
{% endblock %}