{% extends "base.html" %}

{% block title %}HRDB - Учебные заведения{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Учебные заведения</h1>
    </div>
    <div><a href="{{ url_for('main.add_edu') }}">Добавить учебное заведение</a></div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Краткое название</th>
                <th>Полное название</th>
            </tr>
        </thead>
        <tbody>
        {% for e in edu %}
            <tr>
                <td>
                    <a href="{{ url_for('main.edit_edu', id=e.id) }}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                </td>
                <td>{{ e.e_short_name }}</td>
                <td>{{ e.e_name }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
{% endblock %}