{% extends "base.html" %}

{% block title %}HRDB - {{ title }}{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>
    <div><a href="{{ url_for('main.add_candidate') }}">Добавить кандидата</a></div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Дата регистрации</th>
                <th>Ф.И.О. соискателя</th>
                <th>Пол</th>
                <th>Дата рождения</th>
                <th>статус</th>
                <th>Телефон</th>
                <th>eMail</th>
                <th>Адрес</th>
                <th>Источник поиска</th>
                <th>Образование</th>
                <th>Резюме</th>
            </tr>
        </thead>
        <tbody>
        {% for candidate in candidates %}
            <tr {% if candidate.status == 2 %} class="danger"
                {% elif candidate.status == 1 %} class="success"
                {% elif candidate.status == 3 %} class="info" {% endif %}>
                <td>
                    <a href="{{ url_for('main.edit_candidate', id=candidate.id) }}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                </td>
                <td>{{ moment(candidate.register_date).format('L') }}</td>
                <td>{{ candidate.last_name }} {{ candidate.first_name }} {{ candidate.middle_name }}</td>
                <td>
                    {{ sex[candidate.sex][1] }}
                </td>
                <td>{{ moment(candidate.birthdate).format('L') }}</td>
                <td>
                    {{ status[candidate.status][1] }}
                </td>
                <td>
                    {% for phone in candidate.phones %}
                    {{ phone.phone_number }}<br>
                    {% endfor %}
                </td>
                <td>{{ candidate.email }}</td>
                <td>{{ candidate.address }}</td>
                <td>
                    {{ source[candidate.source][1] }}
                </td>
                <td>
                    {% for edu in candidate.educationals %}
                        <b>{{ edu.establishment.e_short_name }}</b><br>
                        <em>{{ edu.profession }}</em><br>
                        {{ qualification[edu.qualification][1] }}<br>
                    {% endfor %}
                </td>
                <td></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
{% endblock %}