{% extends "base.html" %}

{% block title %}HRDB - Список вакансий{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Список вакансий</h1>
    </div>
    <div><a href="{{ url_for('main.add_vacancy') }}">Добавить вакансию</a></div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Дата регистрации</th>
                <th>Дата закрытия вакансии</th>
                <th>Компания</th>
                <th>Должность</th>
                <th>Требования к образованию</th>
                <th>Требования к опыту работы</th>
            </tr>
        </thead>
        <tbody>
        {% for vacancy in vacancies %}
            <tr>
                <td>
                    <a href="{{ url_for('main.edit_vacancy', id=vacancy.id) }}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                </td>
                <td>{{ moment(vacancy.day_of_start).format('L') }}</td>
                <td>
                    {% if vacancy.day_of_end %}
                    {{ moment(vacancy.day_of_end).format('L') }}
                    {% endif %}
                </td>
                <td>{{ vacancy.company.c_short_name }}</td>
                <td>{{ vacancy.job_title }}</td>
                <td>{{ vacancy.requirement_education }}</td>
                <td>{{ vacancy.work_experience }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
{% endblock %}