{% extends "base.html" %}

{% block title %}HRDB - организационная структура{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Организационная структура</h1>
    </div>
    <div><a href="{{ url_for('main.add_department') }}">Добавить подразделение</a></div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Компания</th>
                <th>Вышестоящее подразделение</th>
                <th>Подразделение</th>
            </tr>
        </thead>
        <tbody>
        {% for unit in departments %}
            <tr>
                <td>
                    <a href="{{ url_for('main.edit_department', id=unit.id) }}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                </td>
                <td>{{ unit.company.c_short_name }}</td>
                <td>{{ unit.parent.ou }}</td>
                <td>{{ unit.ou }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
{% endblock %}
