{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}HRDB - {{ title }}{% endblock %}

{% block page_content %}

<div class="col-md-2">
</div>

<div class="col-md-8">
    <h1>{{ title }}</h1>
    <h3>Соискатель: {{ candidat.last_name }} {{ candidat.first_name }} {{ candidat.middle_name }}</h3>

    <form action="" method="post" class="form" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="True") }}

        {{ wtf.form_field(form.phone_number) }}

        <div class="form-group">
            {{ wtf.form_field(form.submit, button_map={'submit': 'success'}) }}
        </div>
    </form>

    <div>
        <a href="{{ url_for('main.list_candidates') }}">
            <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
            Назад к списку кандидатов
        </a>
    </div>
</div>

<div class="col-md-2">
</div>
{% endblock %}