{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}HRDB - {{ title }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ title }}</h1>
</div>
<div class="col-md-6">
    {{ wtf.quick_form(form) }}
    <br>
    <div>
        <a href="{{ url_for('main.list_vacancies') }}">
            <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
            Назад к списку вакансий
        </a>
        {% if vacancy %} &nbsp;|&nbsp;
        <a href="{{ url_for('main.close_vacancy', id=vacancy.id) }}">
            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
            Закрыть вакансию
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}